@charset "utf-8";

html,
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin: 1em 2em;
    font-size: 18px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

ul {
    margin: 0;
    list-style-type: "—";
    padding-inline-start: 1em;
}

li {
    padding-inline-start: 0.25em;
}

h1 {
    margin-block-end: 0;
}

h3 {
    margin: 0;
}

a,
a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}

.social {
    display: flex;
    gap: 1em;
}

.social img {
    height: 36px;
    filter: invert(100%);
}

#qualifications ul {
    column-count: 4;
}

.split {
    display: flex;
    align-items: baseline;
}

.split *:first-child {
    flex-grow: 1;
}

.title {
    font-weight: 500;
}

.company,
.university {
    margin-block-start: 1em;
}
.role {
    margin-inline-start: 2em;
}

#background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

@media only screen and (max-width: 700px) {
    html,
    body {
        margin: 0.5em 1em;
        font-size: 16px;
    }

    #qualifications ul {
        column-count: 2;
    }
}

@media only screen and (max-width: 500px) {
    html,
    body {
        margin: 8px;
        font-size: 14px;
    }

    h1 {
        margin-block: 0;
    }

    .split {
        flex-direction: column;
    }

    #qualifications ul {
        column-count: 1;
    }
}
